* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* style for the first container  */
.container1 {
    background-color: whitesmoke;
    width: 80%;
    height: auto;
    padding: 3vw;
    margin: 0 auto;
}

/* style for naviagation */
.header {
    width: 90%;
    height: 15vh;
    background-color: whitesmoke;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 5px 5px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#logo {
    position: relative;
    margin-top: 10px;
    float: left;
    width: 100px;

}

#logo:hover {
    width: 150px;
    height: auto;
    transition: 1s ease;
}


.navbar {
    font-style: italic;
    padding: 0;
    position: relative;
    top: 20px;
    margin-left: 200px;
    text-align: center;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    padding: 5px;
    width: 10vw;
    height: 5vh;
}

.navbar li a {
    text-decoration: none;
    color: Black;
    font-size: 20px;
}

.navbar li:hover {
    color: rgb(0, 2, 2);
    border-radius: 10px;
    opacity: 1;
    font-weight: bold;
    font: size 22px;
    transition: background-color 1s, color 1s;

}

.navbar li:not(:hover) a {
    opacity: 0.7;
    /* Dim the non-hovered items */
}

.navbar li:last-child {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    padding-top: 10px;
    background-color: rgb(185, 229, 237);
}

.navbar li:last-child:hover {
    border-radius: 0px 20px 0px 20px;
    background-color: rgb(20, 220, 20);
    transition: 1s ease;
}

/* style for left theme text */
.theme-left {
    width: 45%;
    height: auto;
    margin-top: 80px;
    padding: 0.5vw;
    float: left;
}

.theme-left .btn {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(69, 63, 245);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgba(45, 71, 236, 0.3);
    color: azure;
    font-size: 20px;
}

.theme-left .btn:hover {
    transition: 1s ease;
    border-radius: 35px 2px 35px 2px;
    background-color: rgb(96, 241, 200);
    color: azure;
}

.card h2 {
    color: rgb(41, 39, 39);
    font-size: 40px;
}

.card h1 {
    color: rgb(233, 128, 247);
    font-size: 50px;
    display: inline-block;
    margin-top: -30px;
    font-style: italic;
}

.card p {
    color: rgb(54, 53, 53);
    font-size: 20px;
    font-weight: plain;
}

.theme-right {
    width: 45%;
    height: 50vh;
    margin-top: 50px;
    margin-left: 50%;
    padding: 2vw;
}

.container1-img {
    width: 350px;
    height: 430px;
    border-radius:50px;
    box-shadow: 5px 0px 20px 16px rgba(9, 9, 11, 0.7);    transform: scale(0.5);
    transition: transform 1.5s ease, opacity 3s ease;
}

.container1-img:hover{
    box-shadow: -1px 14px 20px 20px rgba(9, 9, 11, 0.7);
   transform: scale(1);
   transition: 1s ease;
}


/* style for container 2 */
.container2 {
    width: 80%;
    padding: 3vw;
    margin: 0 auto;
    position: relative;
    top: 0px;
    height: 80vh;
    background-color: rgb(247, 238, 247);
}

.heading {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.description {
    font-size: 25px;
    color: grey;
    text-align: center;
    font-style: italic;
}

.icon-card {
    align-content: center;
    width: 22%;
    height: 300px;
    float: left;
    margin-right: 10px;
    padding: 5px;
}

.card-image {
    position: relative;
    width: 90%;
    height: 65%;
    margin-bottom: 5px;
}

.card-image:hover {
    font-weight: bold;
    background-image: linear-gradient(to top right, rgb(244, 196, 244), rgb(209, 235, 240), rgb(202, 230, 200));
    width: 100%;
    height: auto;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 10px rgba(0, 1, 2, 0.3);
    transition: 0.5s ease-in;
}

.icon-card .description {
    font-size: 25px;
}


/* Common styles for all container 3 */
.container3 {
    width: 80%;
    background-image: linear-gradient(to bottom right, whitesmoke, rgb(228, 203, 228));
    margin: 0 auto;
    padding: 3vw;
}

/* Styles for individual sections within a container */
.container3-section {
    width: 100%;
    height: 90vh;
    padding: 25px 0 50px 5px;
}

/* Left theme section */
.section-theme-left {
    width: 45%;
    float: left;
    height: 90vh;
}

/* Right theme section */
.section-theme-right {
    width: 50%;
    float: right;
    height: 90vh;
}

/* Theme section images */
.section-theme-image {
    border-radius: 30px 2px 30px 2px;
    width: 65%;
    height: 70%;
    margin-top: 5vh;
    box-shadow: 5px 10px 10px rgba(9, 9, 11, 0.7);
    transform: scale(0.5);
    opacity: 0;
    transition: transform 2s ease, opacity 3s ease;
}

/*  make the image invisible */
.section-theme-image.is-visible {
    transform: scale(1);
    opacity: 1;
}

/* Card within a section */
.section-card {
    width: 98%;
    height: 50%;
    margin-top: 15%;
    padding: 10% 0 10% 1%;
}

/* Card headings */
.section-card h2 {
    font-size: 40px;
    font-style: italic;
    color: rgb(111, 111, 119);
    margin-bottom: -20px;
}

.section-card h1 {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: rgb(225, 123, 231);
}

/* Description within a card */
.section-description {
    color: rgb(59, 56, 56);
    font-size: 20px;
}

/* Button styles */
.btn {
    width: 200px;
    height: 50px;
    background-color: rgb(42, 102, 242);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgba(45, 71, 236, 0.5);
    color: azure;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    transition: 1s ease;
    background-image: linear-gradient(to right, rgb(222, 80, 24), rgb(57, 43, 248));
    color: whitesmoke;
}

span {
    color: rgb(254, 41, 254);
    font-weight: bold;
    font-style: italic;
}

/* style for container 4 and container 5 */
.container4,
.container5,
.container6 {
    top: -6.5vh;
    background-color: rgb(243, 247, 246);
    width: 80%;
    margin: 0 auto;
    padding: 3vw;
    height: 100vh;
}

.container4-icon-card {
    position: relative;
    align-content: center;
    width: 31%;
    height: 200px;
    float: left;
    margin-right: 10px;
    padding: 5px;
    top: 5vh;
    margin-bottom: 80px;
}

.container4-card-image {
    position: relative;
    border-radius:50%;
    width: 55%;
    height: 55%;
    left: 6vw;
    margin-bottom: 15px;
}

.container4-card-image:hover {
    border-radius: 10px;
    width: 65%;
    height: 65%;
    box-shadow: 5px 5px 10px rgb(246, 182, 161);
    transition: 1s ease;
}

.container4-btn {
    position: relative;
    width: 500px;
    height: 50px;
    background-color: rgb(133, 199, 238);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgb(138, 137, 136);
    color: azure;
    font-size: 20px;
    cursor: pointer;
    top: 38vh;
    left: 21.5vw;
}

.container4-btn:hover {
    height: 60px;
    transition: 1s ease;
    border-radius: 50px 50px 50px 0;
    background-image: linear-gradient(to right, rgb(116, 3, 246), rgb(201, 145, 237));
    color: whitesmoke;
}

/* style for container 5 */
.message {
    color: rgb(44, 74, 241);
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    display: block;
    font-style: normal;
    position: relative;
    top: 30%;
    margin-bottom: -3.5%;
    text-align: center;
}

/* style for container 6 */
.container6 {
    background-color: whitesmoke;
    margin-top: -3.4%;
}

/*  style for container 7 */
.container7 {
    position: relative;
    top: -11.9vh;
    margin: 0 auto;
    background-color: rgb(245, 235, 248);
    width: 80%;
    height: 75vh;
    padding: 6vh 3vw;
}

.container7-top-section {
    position: relative;
    top: 30px;
    width: 100%;
    height: 80%;
    background-color: inherit;
    padding: 15px;
}


.top-section-left {
    position: absolute;
    width: 45%;
    height: 50vh;
    padding: 15px;
    float: left;
}

.top-section-right {
    position: absolute;
    width: 43%;
    height: 40vh;
    top: -15%;
    left: 50%;
    padding: 2vw;
}

.top-section-right form {
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    width: 35vw;
    height: 45vh;
    background-color: rgb(245, 225, 241);
}

.top-section-heading {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

input[type="text"] {
    outline: none;
    position: relative;
    display: inline-block;
    top: 10px;
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    background-color: inherit;
    margin-bottom: 20px;
    font-size: 22px;
}

input[type="text"]:hover,
input[type="text"]:active {
    box-shadow: 0px 5px 5px 2.5px rgb(111, 111, 119);
    width: 420px;
    height: 60px;
    transition: 0.5s ease;
}

input[type="checkbox"] {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 30px;
}

.top-section-right p {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
}

input[type="submit"] {
    position: relative;
    top: 55px;
}

/* last container footer  */
.container8-footer {
    top: -17vh;
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 70vh;
    background-color: whitesmoke;
    padding: 3vw;
}

.contact-us-section {
    margin: 4% 0 0 6%;
    width: 50%;
    padding: 10px;
    float: left;
}

.contact-description {
    position: relative;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(37, 25, 25);
    text-align: left;
    font-style: italic;
    left: 20px;
}

.contact-icon {
    position: relative;
    top:0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 45%;
    margin: 30px 10px 0 10px;
}

.contact-icon:hover {
   top:-10px;
    transition: .5s ease;
}

.quick-reference-section {
    position: absolute;
    left: 50%;
    background-color: rgb(233, 239, 243);
    width: 30%;
    margin: 4% 0 0 6%;
    padding: 10px 30px;
}

.quick-reference-section h5 a {

    display: block;
    text-decoration: none;
    margin-bottom: -5px;
    font-size: 16px;
    color: black
}

.quick-reference-section h5 a:hover {
    width: 10vw;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgb(148, 144, 144);
    transition: 0.5s ease;
}

.quick-reference-section h5 a:not(:hover) {
    color: rgb(80, 78, 78);
}

.bottom-section {
    clear: both;
    background-color: rgb(219, 218, 218);
    position: relative;
    text-align: center;
    width: 100%;
    padding: 2vh 3vw 2vh;
    height: 95px;
    margin: 0 auto;
    top: 20%;
    left: -3.8%;
}

.bottom-section strong,
.bottom-section p {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.5;
}

.bottom-section p a {
    display: inline-block;
    text-decoration: none;
    color: rgb(85, 85, 240);
}

/* style for go to top button */
.go-to-top {
    z-index: 1;
    position: fixed;
    top: 90%;
    right: 2%;
    width: 40px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    font-size: 26px;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    color: rgb(255 255 255);
    background-color: rgb(192 191 191);
    box-shadow: -1px 0px 20px 6px rgb(0 0 0);
}

.go-to-top:hover {
    width: 65px;
    background-color: rgb(219 218 218);
    height: 65px;
    transform: rotate(360deg);
    box-shadow: 2px 1px 20px 9px rgb(0 0 0);
    transition: 1s ease;
    color: #413c3c;
    font-size: 40px;
}

/*  style for the video tag used in about us section  */
video {
    position: relative;
    width: 1900px;
    height: 640px;
    left:-15.8%;
}

/* style for redirect pafe  */
/* to be changed in the future  */
.redirect{
    background-color: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(15px);
    opacity:;
    position:absolute;
        border:none;
    border-radius:20px;
    top:10%;
left:5%;
}